@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<ReversiMvcApp.Models.Spel>
@{
    ViewData["Title"] = "Index";
    var ongoingGames = ViewBag.OngoingGames as IEnumerable<ReversiMvcApp.Models.Spel>;
}

<h1>Reversi</h1>

<!-- Display ongoing games for the current player -->
@if (ongoingGames != null && ongoingGames.Any())
{
    <h2>Your Ongoing Games</h2>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Omschrijving)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var game in ongoingGames)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => game.Omschrijving)
                    </td>
                    <td>
                        <a asp-action="Continue" asp-route-token="@game.Token">Continue</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<h2>All Available Games</h2>
<p>
    <a asp-action="Create">Create new game</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Omschrijving)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Omschrijving)
                </td>
                <td>
                    <a asp-action="Join" asp-route-token="@item.Token">Join</a>
                </td>
            </tr>
        }
    </tbody>
</table>